/vendor
/node_modules
/storage/*.key
/storage/logs
/storage/framework
/public/storage
/public/hot
/bootstrap/cache
.env
.env.*
.phpunit.result.cache
.phpunit.xml
.composer.lock
*.sqlite
*.log
npm-debug.log*
yarn-error.log*
.DS_Store
.idea/
.vscode/
.ftpquota
